* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: black;
}

canvas {
  display: block;
}

#score {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
}
#game-over-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-over-overlay h1 {
  color: white;
  font-size: 5rem;
  margin-bottom: 20px;
}

#retry-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#retry-btn:hover {
  background-color: #333;
}
#highScore{
  color: white;
  margin-bottom: 15px;
  font-size: larger;
  font-weight: bold;
}
#difficulty-bar-container {
  width: 80%;
  height: 20px;
  background-color: #ccc;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #aaa;
  position: absolute;
  bottom: 20px;
  margin-left: 10%;
}
#difficulty-bar {
  width: 30%; /* inicia en 10 */
  height: 100%;
  background-color: #3a61d3;
  transition: width 0.3s ease;
}